* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem === 10px, 10px/16px = 62.5% */
}

body {
  line-height: 1.6;
}

.logo {
  margin: 2rem;
  font-size: 3rem;
}

.navbar {
  background: #031321;
  color: #2196f3;
  font-family: 'Comfortaa', cursive;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: dodgerblue dotted 2px;
}

ul {
  display: flex;
}

li {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.navbar__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #2196f3;
  overflow: hidden;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  transition: 0.5s;
}

.navbar__link:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.2s;
}

.navbar__link span {
  position: absolute;
  display: block;
}

.navbar__link span:nth-child(3) {
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
.navbar__link:hover span:nth-child(3) {
  left: 100%;
  transition: 1s;
}
